<form method="POST" action="/data/title">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Enter Title"> <br><br>
    <input type="Submit" name="Search">
    <br><br>
    {{#if Title}}
    <h4>List of Products including title '{{Title}}'</h4>
    <table border="1" class="dataTable">
        <tr>
            <th>asin</th>
            <th>Title</th>
            <th>Image</th>
            <th>Stars</th>
            <th>Reviews</th>
            <th>Price</th>
            <th>List Price</th>
            <th>Category Name</th>
            <th>Is Best Seller</th>
            <th>Last Month Sale</th>
        </tr>
    {{#each Json}}
           {{#if (matchTitle this.title ../Title)}}
                <tr>
                    <td>{{this.asin}}</td>
                    <td>{{this.title}}</td>
                    <td>
                    <img src={{this.imgUrl}} alt="" />
                    </td>
                    <td>{{this.stars}}</td>
                    <td>{{this.reviews}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.listPrice}}</td>
                    <td>{{this.categoryName}}</td>
                    <td>{{this.isBestSeller}}</td>
                    <td>{{this.boughtInLastMonth}}</td>
                </tr>
            {{/if}}
    {{/each}}
{{else}}
    <h5 class="error">Sorry! Title should not be empty</h5>
{{/if}}
</table>